<h3>Our potfolio</h3>



<div class="card services">
    <div class="header">
        <h1>Some of the works we have done</h1>
    </div>
    
    <div class="container">
        <div class="card-deck">
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Drone Services</h4>
                    <p class="card-text">For all your vedio shooting we are the best in the industry...</p>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/software_dev2.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Software Dev</h4>
                    <p class="card-text">For all your computer softwares we are the best in the industry...</p>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware2.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Hardware</h4>
                    <p class="card-text">For all your computer hardwares we are the best in the industry...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-deck">
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Drone Services</h4>
                    <p class="card-text">For all your vedio shooting we are the best in the industry...</p>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/software_dev2.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Software Dev</h4>
                    <p class="card-text">For all your computer softwares we are the best in the industry...</p>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware2.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Hardware</h4>
                    <p class="card-text">For all your computer hardwares we are the best in the industry...</p>
                </div>
            </div>
        </div>
    </div>
</div>

