<h3>Our Services</h3>

<div class="card services">
    <div class="header">
        <h1>Drone Services</h1>
    </div>
    
    <div class="container">
        <div class="card-deck">
            <div class="card wow">
                <img class="card-img-top" src="assets/images/wedding.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Weddings</h4>
                    <div class="card-text">
                        <ol>
                            <li>
                                <strong>Bronze</strong> (raw video, soft copies pictures)
                            </li>
                            <li>
                                <strong>Silver</strong> (edited video, soft copies pictures and tailor made picture booklet)
                            </li>
                            <li>
                                <strong>Gold</strong> (video, soft copies pictures, tailor made picture booklets, digital cards and pre-event photoshoot)
                            </li>
                        </ol>
                    </div>
                    <button class="btn card-link" (click)="navigate(4)">Get a qoutation now</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/gathering.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Conferences and Gatherings</h4>
                    <p class="card-text">We do Video Surveillance and video shoots..</p>
                    <button class="btn card-link" (click)="navigate(4)">Get a qoutation now</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/drone2.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Drone Surveillance</h4>
                    <p class="card-text"> Best Security Surveillance at the click of a button..</p>
                    <button class="btn card-link" (click)="navigate(4)">Get a qoutation now</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card services">
    <div class="header">
        <h1>Hardware Services</h1>
    </div>
    
    <div class="container">
        <div class="card-deck">
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Hardware support</h4>
                    <p class="card-text">Profesional PC hardware and network hardwares maintanance at an affordable price...</p>
                    <button class="btn card-link" (click)="navigate(4)">Get a qoutation now</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/HardwareSoftwareUpgrade.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Software Upgrades</h4>
                    <p class="card-text">All windows family softaware such as (office and windows os) and linux softwares are supported and maintained at obsdigital. just ....</p>
                    <button class="btn card-link" (click)="navigate(4)">Get a qoutation now</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware1.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Hardware supplier</h4>
                    <p class="card-text">For all your Profesional guaranteed are available at our store. Quality guaranteed just drop a call..</p>
                    <button class="btn card-link" (click)="navigate(4)">Get a qoutation now</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card services">
    <div class="header">
        <h1>Software Services</h1>
    </div>
    
    <div class="container">
        <div class="card-deck">
            <div class="card wow">
                <img class="card-img-top" src="assets/images/android.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Android application</h4>
                    <p class="card-text">We use latest technologies for mobile app development such as flutter and ionic to deliver the best mobile apps to our clients. If you have any specific technology you want us to implement you are also welcomed to contact us. </p>
                    <button class="btn card-link" (click)="navigate(4)">Get a qoutation now</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/web.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Web Applications</h4>
                    <p class="card-text">this very website you are at is our product and sign of how best we are at developing web apps.</p>
                    <button class="btn card-link" (click)="navigate(4)">Get a qoutation now</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/software.gif" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Java Applications</h4>
                    <p class="card-text">Java is a language used to deliver softawers that runs on any platform and device. We are a group of team that is proud to say that we been certified as proffesionals by oracle in developing applications using their language(JAVA).</p>
                    <button class="btn card-link" (click)="navigate(4)">Get a qoutation now</button>
                </div>
            </div>
        </div>
    </div>
</div>

