/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.banner{
    background-color: black;
}

.btn{
    background-color: rgba(240, 247, 246, 0.425);
    color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; 
}

.btn:hover{
    background-color: rgba(176, 182, 181, 0.829);
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
  
div.header {
    background-color: #e7eaec;
    color: black;
    padding: 10px;
    font-size: 40px;
}
  
div.container {
    padding: 10px;
}


.wow:hover{
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2), 0 18px 60px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top{
    height: 180px;
}

.services, .completed-projects, .our-mission{
    margin-top: 20px;
}