<div class="banner">
    <img src="assets/images/Computer-Science.gif" alt="" height="350" width="950">
</div>

<div class="card services">
    <div class="header">
        <h1>Our Services</h1>
    </div>
    
    <div class="container">
        <div class="card-deck">
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Drone Services</h4>
                    <p class="card-text">For all your vedio shooting we are the best in the industry...</p>
                    <button class="btn card-link" (click)="navigate(1)">Readmore</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/software_dev2.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Software Dev</h4>
                    <p class="card-text">For all your computer softwares we are the best in the industry...</p>
                    <button class="btn card-link" (click)="navigate(1)">Readmore</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware2.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Hardware</h4>
                    <p class="card-text">For all your computer hardwares we are the best in the industry...</p>
                    <button class="btn card-link" (click)="navigate(1)">Readmore</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card completed-projects">
    <div class="header">
        <h1>Projects Completed As of now</h1>
    </div>
    
    <div class="container">
        <div class="card-deck">
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Drone projects</h4>
                    <p class="card-text">16000</p>
                    <button class="btn card-link" (click)="navigate(2)">Readmore</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/web.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Software Projects</h4>
                    <p class="card-text">200</p>
                    <button class="btn card-link" (click)="navigate(2)">Readmore</button>
                </div>
            </div>
            <div class="card wow">
                <img class="card-img-top" src="assets/images/hardware1.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Hardware Projects</h4>
                    <p class="card-text">19320100</p>
                    <button class="btn card-link" (click)="navigate(2)">Readmore</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="card our-mission">
    <div class="card-body row">
        <div class="col-md-6">
            <div class="text-center">
                <h4 class="">Our Mission</h4>
                <p class="">To be the best service provider to our clients in the Industry</p>
                <button class="btn" (click)="navigate(3)">About US</button>
            </div>
        </div>

        <div class="col-md-6">
            <img class="card-img-top" src="assets/images/web.png" alt="Card image">
        </div>
    </div>
</div>