<div class="row">
    
    <div class="col-md-6">
        <h5>Our Contact Deatails</h5>
        <address>info@obsdigital.co.zw</address>
        <address>milton@obsdigital.co.zw</address>
        <address>obey@obsdigital.co.zw</address>
        <address>Facebook @obsdigital_zw</address>
        <address>Instagram @obsdigital_zw</address>
        <address>Linked In @obsdigital_zw</address>

    </div>
    
    <div class="col-md-6">
        <h5>Or visit us at</h5>
        <address>20 Hereford road, Emerald Hill, Harare</address>
    </div>
    

</div>

<div class="row">
    <h4 class="col-12">Send us a Message: </h4>
    <form class="col-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">email</span>
            </div>
            <input type="text" class="form-control" placeholder="Email">
        </div>
        
        <div class="input-group mb-3">
            <textarea class="form-control" placeholder="Description" rows="10" cols="80"></textarea>
        </div>
    </form>
    <div class="col-12">
        <button class="btn myButton col-2">Send</button>
    </div>
    
</div>